body {
    background: #9BD770;
}

.left{
    display: flex;
    float: right;
}

.center {
    display: flex;
    justify-content: center;
}

.test {
    display: inline-block;
    justify-content: center;
    background: green

}

h1 {
    background: blue;
    padding: 10px;
}