body {
    background: #9BD770;
}

.left{
    display: flex;
    float: right;
}

.center {
    display: flex;
    justify-content: center;
    
}

h1 {
    display: inline-block;
    background: blue;
    padding: 10px;
    text-align: center;
}