* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #140500;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
}

body {
    box-sizing: border-box;
    font-size: 1em;
}

h1 {
    font-size: 175%;
    text-align: center;
    margin: 2%;
    margin-top: 3%;
}

h2 {
    font-size: 125%;

}

.container {
    display: table;
    margin: 0%;
    padding: 0;
    width: inherit;
    height: inherit;
    font-size: 0;
    position: relative;
}

.title {
    padding: 0 8% 0 8%;
    border-left: 2px solid #140500;
    border-bottom: 2px solid #140500;
    float: right;
    background-color: red;
}

#chicken {
    background-color: #D59898;
}

#beef {
    background-color: #C14543;
}

#sushi {
    background-color: #E5D198;
}

p {
    margin: 0%;
    display: block;
    padding: 2% 2% 0 0;
    clear: right;
}

#white {
    color: #ffffff;
}

.container>div {
    height: inherit;
    padding: 0 0 0.5% .9%;
    display: inline-block;
    margin: 2%;
    height: initial;
    font-size: 16px;
    color: #140500;
    border: 3px solid #140500;
    background-color: #999999;
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 29.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 46%;
    }

    .col-md-12 {
        width: 96%;
    }
}

@media (max-width: 767px) {
    .col-sm-12 {
        width: 96%;
    }
}