* {
    font-weight: #700;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #140500;
    font-family: 'Lato', sans-serif;
}

#brand {
    vertical-align: middle;
    font-weight: bold;
    font-size: 2.6em;
    margin: 1%;
    color: #140500;
    padding-right: 1%;
}

#our-menu {
    font-weight: bold;
    font-size: 2.2em;
    clear: both;
    padding-top: 2%;
    margin-top: 1%;
    margin-bottom: 4%;
}

#chicken,
#beef,
#sushi {
    position: relative;
    box-shadow: 2px 2px #727272;
    width: 100%;
    background-color: #999999;
    padding: 2%;
    margin-bottom: 6%;
    border: 0;
}

#main-tile span {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 1%;
    margin-top: 2%;
}

#main-tile span>a {
    color: #487D96;
}

#main-tile span>a:hover,
#main-tile span>a:focus {
    color: #385562;
    text-decoration: none;
}

h3 {
    margin-top: 1%;
    margin-bottom: 3%;
    font-weight: bold;
    font-size: 1.5em;
}

#header-nav {
    height: inherit;
    margin-bottom: 0;
}

#header-nav {
    background-color: #999999;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

#menu {
    margin-top: 1%;
    margin-bottom: 1%;
    float: right;
    font-size: 2.6em;
    background-color: #999999;
    border-style: none;
    border: 2px solid black;
    padding: 6px 5px;
    margin-right: 2%;
    border-radius: 5px;
}

@media (max-width: 575px) {
    #header-nav {
        border-bottom: 2px solid black;
    }
}

#menu:focus,
#menu:hover {
    color: #DCDCDC;
    border-color: #DCDCDC;
    outline: 0;
}

#collapsable-nav {
    border: 0;
    border-bottom: 0;
    padding: 0;
}

#collapsable-nav>ul {
    border-top: 2px solid black;
    margin: 0;
}

#collapsable-nav>ul a {
    color: #140500;
    font-weight: bold;
}

#collapsable-nav>ul a:hover {
    color: #454545;
    font-weight: bold;
}

#collapsable-nav li {
    width: 100%;
    background-color: white;
    font-weight: bold;
    text-align: center;
}

#collapsable-nav li:nth-child(1) {
    border-top: 1px solid black;
    border-bottom: 2px solid black;
}

#collapsable-nav li:nth-child(2) {
    border-bottom: 2px solid black;
}

#collapsable-nav li:nth-child(3) {
    border-bottom: 1px solid black;
}